<!DOCTYPE html>
<html
    layout:decorate="~{Layout}">
    <head>
        <title>Usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>

        </style>
    </head>
    <body layout:fragment="body">
        <div class="container mt-4">
            <table class="table table-bordered table-sm">
                <thead class="table-dark">
                    <tr>
                        <th style="width: 10%;">No</th>
                        <th style="width: 30%;">Usuario</th>
                        <th style="width: 60%;">Contratos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario : ${listaUsuarios}">
                        <td th:text="${usuario.IdUsuario}"></td>
                        <td th:text="${usuario.Nombre}"></td>
                        <td>
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse' + ${usuario.IdUsuario}" aria-expanded="false" aria-controls="collapseOne">
                                            <i class="bi bi-eye-fill"></i>  Visualizar contratos
                                        </button>
                                    </h2>
                                    <table th:id="'collapse' + ${usuario.IdUsuario}" class="table table-sm w-100 mb-0 accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <thead class="table-secondary">
                                            <tr>
                                                <th style="width: 10%;">Id</th>
                                                <th style="width: 30%;">Clave</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="contrato : ${usuario.Contratos}">
                                                <td th:text="${contrato.IdContrato}"></td>
                                                <td th:text="${contrato.ClaveContrato}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
